@import "./src/scss/index";

.Chat{
  border: 1px solid $color-default-black;
  background: $color-default-gray_1;
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;

  &__ChatBody{
    min-height: 70vh;
    background: $color-default-orange;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }

  &__MessageForm{
    display: flex;
    align-items: center;
    justify-content: center;

    &__FieldBlock{
      margin: 0px!important;
      flex-grow: 1;

      &__TextField{

      }
    }

    &__ButtonBlock{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
