@import "./src/scss/index";


.Enter{
  &__Form{
    border: 1px solid $color-default-black;
    background: $color-default-gray_1;
    max-width: 500px;
    margin: 0px auto;
    padding: 0px 30px 40px 30px;
    border-radius: 10px;

    &__Field{
      margin-bottom: 30px;
    }
  }
}
