@import "./src/scss/index";


.App{
    &::after{
         background-color: $color-message-background-green;
         position: fixed;
         top: 0;
         z-index: -1;
         width: 100%;
         height: 127px;
         content: "";
    }
}
