// Colors
// ---------------------------------

// Default
$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-gray_1:               #f0f2f5;
$color-default-gray_2:               #dededd;
$color-default-orange:               #efeae2;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-message-background-green:                #00a884;
$color-message-background-white:                #ffffff;


// Typography
// ---------------------------------
$fz-default:                        16px;
